*, *::after, *::before
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

html
  font-size 62.5%
  *
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

body
  // font-size 1.6rem
  // font-family "Open Sans", sans-serif
  color #331d35
  // background-color #e7e7e7

a
  color #41307c
  text-decoration none

.cd-header
  position relative
  height 150px
  background-color #1f1e1d
  h1
    color #ffffff
    line-height 150px
    text-align center
    font-size 2.4rem
    font-weight 300

.cd-main-content
  position relative
  min-height 100vh
  &:after
    content ""
    display table
    clear both
  &.is-fixed
    .cd-tab-filter-wrapper
      position fixed
      top 0
      left 0
      width 100%
    .cd-gallery
      padding-top 76px
    .cd-filter
      position fixed
      height 100vh
      overflow hidden
      form
        height 100vh
        overflow auto
        -webkit-overflow-scrolling touch
    .cd-filter-trigger
      position fixed

.cd-tab-filter-wrapper
  background-color #920CE8
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.08)
  z-index 1
  &:after
    content ""
    display table
    clear both

.cd-tab-filter
  position relative
  height 50px
  width 140px
  margin 0 auto
  z-index 1
  &::after
    content ''
    position absolute
    right 14px
    top 50%
    bottom auto
    -webkit-transform translateY(-50%)
    -moz-transform translateY(-50%)
    -ms-transform translateY(-50%)
    -o-transform translateY(-50%)
    transform translateY(-50%)
    display inline-block
    width 16px
    height 16px
    background url("/img/cd-icon-arrow.svg") no-repeat center center
    -webkit-transition all 0.3s
    -moz-transition all 0.3s
    transition all 0.3s
    pointer-events none
  ul
    position absolute
    top 0
    left 0
    background-color #ed4e6e
    box-shadow inset 0 -2px 0 #41307c
  li
    display none
    &:first-child
      display block
  a
    display block
    height 50px
    width 140px
    line-height 50px
    padding-left 14px
    &.selected
      background #41307c
      color #ffffff
  &.is-open
    &::after
      -webkit-transform translateY(-50%) rotate(-180deg)
      -moz-transform translateY(-50%) rotate(-180deg)
      -ms-transform translateY(-50%) rotate(-180deg)
      -o-transform translateY(-50%) rotate(-180deg)
      transform translateY(-50%) rotate(-180deg)
    ul
      box-shadow inset 0 -2px 0 #41307c, 0 2px 10px rgba(0, 0, 0, 0.2)
      li
        display block
    .placeholder
      a
        opacity .4

.cd-gallery
  padding 26px 5%
  width 100%
  li
    margin-bottom 1.6em
    box-shadow 0 1px 4px rgba(0, 0, 0, 0.1)
    display none
    &.gap
      opacity 0
      height 0
      display inline-block
  img
    display block
    width 100%
  .cd-fail-message
    display none
    text-align center

.cd-filter
  position absolute
  top 0
  left 0
  width 280px
  height 100%
  background #1f1e1d
  box-shadow 4px 4px 20px transparent
  z-index 2
  -webkit-transform translateZ(0)
  -moz-transform translateZ(0)
  -ms-transform translateZ(0)
  -o-transform translateZ(0)
  transform translateZ(0)
  -webkit-backface-visibility hidden
  backface-visibility hidden
  -webkit-transform translateX(-100%)
  -moz-transform translateX(-100%)
  -ms-transform translateX(-100%)
  -o-transform translateX(-100%)
  transform translateX(-100%)
  -webkit-transition -webkit-transform 0.3s, box-shadow 0.3s
  -moz-transition -moz-transform 0.3s, box-shadow 0.3s
  transition transform 0.3s, box-shadow 0.3s
  &::before
    content ''
    position absolute
    top 0
    left 0
    height 50px
    width 100%
    background-color #41307c
    z-index 2
  form
    padding 70px 20px
  .cd-close
    position absolute
    top 0
    right 0
    height 50px
    line-height 50px
    width 60px
    color #ffffff
    font-size 1.3rem
    text-align center
    background #37296a
    opacity 0
    -webkit-transition opacity 0.3s
    -moz-transition opacity 0.3s
    transition opacity 0.3s
    z-index 3
  &.filter-is-visible
    -webkit-transform translateX(0)
    -moz-transform translateX(0)
    -ms-transform translateX(0)
    -o-transform translateX(0)
    transform translateX(0)
    box-shadow 4px 4px 20px rgba(0, 0, 0, 0.2)
    .cd-close
      opacity 1

.no-touch
  .cd-filter
    .cd-close
      &:hover
        background #32255f
  .cd-filter-block
    h4
      &:hover
        color #41307c

.cd-filter-trigger
  position absolute
  top 0
  left 0
  height 50px
  line-height 50px
  width 60px
  overflow hidden
  text-indent 100%
  color transparent
  white-space nowrap
  background transparent url("/img/cd-icon-filter.svg") no-repeat center center
  z-index 3
  &.filter-is-visible
    pointer-events none

.cd-filter-block
  margin-bottom 1.6em
  h4
    position relative
    margin-bottom .2em
    padding 10px 0 10px 20px
    color #fff
    text-transform uppercase
    font-weight 700
    font-size 1.3rem
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    cursor pointer
    &::before
      content ''
      position absolute
      left 0
      top 50%
      width 16px
      height 16px
      background url("/img/cd-icon-arrow.svg") no-repeat center center
      -webkit-transform translateY(-50%)
      -moz-transform translateY(-50%)
      -ms-transform translateY(-50%)
      -o-transform translateY(-50%)
      transform translateY(-50%)
      -webkit-transition -webkit-transform 0.3s
      -moz-transition -moz-transform 0.3s
      transition transform 0.3s
    &.closed
      &::before
        -webkit-transform translateY(-50%) rotate(-90deg)
        -moz-transform translateY(-50%) rotate(-90deg)
        -ms-transform translateY(-50%) rotate(-90deg)
        -o-transform translateY(-50%) rotate(-90deg)
        transform translateY(-50%) rotate(-90deg)
  input[type='search']
    border-color transparent
    background-color #e6e6e6
    font-size 1.6rem !important
  input[type='search']::-webkit-search-cancel-button
    display none
  .cd-select
    position relative
    &::after
      content ''
      position absolute
      z-index 1
      right 14px
      top 50%
      -webkit-transform translateY(-50%)
      -moz-transform translateY(-50%)
      -ms-transform translateY(-50%)
      -o-transform translateY(-50%)
      transform translateY(-50%)
      display block
      width 16px
      height 16px
      background url("/img/cd-icon-arrow.svg") no-repeat center center
      pointer-events none
  select
    cursor pointer
    font-size 1.4rem
    &::-ms-expand
      display none
  .list
    li
      position relative
      margin-bottom .8em
      &:last-of-type
        margin-bottom 0
      &.filter-related-clear
        font-size 1.5em
        cursor pointer
        display none
        color #e6e6e6
  .checkbox-label
    &::after
      width 16px
      height 16px
      background url("/img/cd-icon-check.svg") no-repeat center center
  .radio-label
    &::after
      width 6px
      height 6px
      background-color #ffffff
      left 5px

.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before
  font-family "Open Sans", sans-serif
  border-radius 0
  background-color #ffffff
  border 2px solid #e6e6e6

.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select
  width 100%
  padding .8em
  -webkit-appearance none
  -moz-appearance none
  -ms-appearance none
  -o-appearance none
  appearance none
  box-shadow none

.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus
  outline none
  background-color #ffffff
  border-color #41307c

.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox]
  position absolute
  left 0
  top 0
  margin 0
  padding 0
  opacity 0
  z-index 2

.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label
  padding-left 24px
  font-size 1.4rem
  color #e6e6e6
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after
  content ''
  display block
  position absolute
  top 50%
  -webkit-transform translateY(-50%)
  -moz-transform translateY(-50%)
  -ms-transform translateY(-50%)
  -o-transform translateY(-50%)
  transform translateY(-50%)

.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before
  width 16px
  height 16px
  left 0

.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after
  display none

.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after
  border-radius 50%

.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before
  border-color #41307c
  background-color #41307c

.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after
  display block

@-moz-document url-prefix()
  .cd-filter-block
    .cd-select
      &::after
        display none




@media only screen and (min-width: 768px)
  .cd-tab-filter
    width auto
    cursor auto
    &::after
      display none
    ul
      background #920CE8
      position static
      box-shadow none
      text-align center
    li
      display inline-block
      &.placeholder
        display none !important
    a
      display inline-block
      padding 0 1em
      width auto
      color #fff
      text-transform uppercase
      font-weight 700
      font-size 1.3rem
      &.selected
        background transparent
        color #420568
        box-shadow inset 0 -2px 0 #420568
    &.is-open
      ul
        li
          display inline-block

  .no-touch
    .cd-tab-filter
      a
        &:hover
          color #41307c

@media only screen and (min-width: 1170px)
  .cd-tab-filter
    width 100%
    float right
    margin 0
    -webkit-transition width 0.3s
    -moz-transition width 0.3s
    transition width 0.3s
    &.filter-is-visible
      width 80%


@media only screen and (min-width: 768px)
  .cd-gallery
    // padding 40px 3%
    ul
      text-align justify
      &:after
        content ""
        display table
        clear both
    li
      width 48%
      margin-bottom 2em


@media only screen and (min-width: 1170px)
  .cd-gallery
    padding 50px 2%
    float right
    -webkit-transition width 0.3s
    -moz-transition width 0.3s
    transition width 0.3s
    li
      width 23%
    &.filter-is-visible
      width 80%


@media only screen and (min-width: 1170px)
  .cd-filter
    width 20%
    form
      padding 70px 10%



