html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.7em;
  background: #1f1e1d;
  color: #fff;
}
h1,
h2,
h3,
p,
ul,
ol,
pre,
dl {
  margin-bottom: 1em;
}
h1,
h2,
#super-list,
.element,
.tagline,
#index-list,
.super-list .link {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
h1,
h2,
h3 {
  font-weight: bold;
}
h1 {
  font-size: 32px;
  line-height: 1.1em;
}
h2 {
  font-size: 24px;
  line-height: 1.1em;
}
ul,
ol {
  margin-left: 1.5em;
}
a,
a code {
  color: #fb4;
  text-decoration: none;
}
a:hover,
a:hover code {
  color: #4bf;
}
a:active,
a:active code {
  color: #1fb;
  background: #000;
}
a img {
  border: none;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
blockquote {
  padding-left: 1em;
  margin-left: 1em;
  border-left: 1px solid #333;
  font-style: italic;
}
html,
body {
  height: 100%;
}
#container {
  border: 1px solid #666;
  padding: 5px;
  margin-bottom: 20px;
}
.element {
  width: 306px;
  height: 306px;
  margin: 4px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #222;
  color: #fff;
  -webkit-border-top-right-radius: 1.2em;
  -moz-border-radius-topright: 1.2em;
  border-top-right-radius: 1.2em;
}
.element.alkali {
  background: #f00;
  background: #f00;
}
.element.alkaline-earth {
  background: #f80;
  background: #f90;
}
.element.lanthanoid {
  background: #ff0;
  background: #cf0;
}
.element.actinoid {
  background: #0f0;
  background: #3f0;
}
.element.transition {
  background: #0f8;
  background: #0f6;
}
.element.post-transition {
  background: #0ff;
  background: #0ff;
}
.element.metalloid {
  background: #08f;
  background: #06f;
}
.element.other.nonmetal {
  background: #00f;
  background: #30f;
}
.element.halogen {
  background: #f0f;
  background: #c0f;
}
.element.noble-gas {
  background: #f08;
  background: #f09;
}
.element .symbol {
  left: 0.2em;
  top: 0.4em;
  font-size: 3.8em;
  line-height: 1em;
  color: #fff;
}
.element.large .symbol {
  font-size: 4.5em;
}
.element.fake .symbol {
  color: #000;
}
.element .name {
  left: 0.5em;
  bottom: 1.6em;
  font-size: 1.05em;
}
.element .weight {
  font-size: 0.9em;
  left: 0.5em;
  bottom: 0.5em;
}
.element .number {
  font-size: 1.25em;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
  right: 0.5em;
  top: 0.5em;
}
.variable-sizes .element.width2 {
  width: 230px;
}
.variable-sizes .element.width2.height2 {
  font-size: 2em;
}
.variable-sizes .element.height2 {
  height: 230px;
}
.element.large,
.variable-sizes .element.large,
.variable-sizes .element.large.width2.height2 {
  font-size: 3em;
  width: 350px;
  height: 350px;
  z-index: 100;
}
.clickable .element:hover {
  cursor: pointer;
}
.clickable .element:hover h3 {
  text-shadow: 0 0 10px #fff, 0 0 10px #fff;
}
.clickable .element:hover h2 {
  color: #fff;
}
#options {
  padding-bottom: 1em;
}
#options h3 {
  margin-bottom: 0.2em;
  font-size: 15px;
}
#options h4 {
  font-weight: bold;
}
#options ul {
  margin: 0;
  list-style: none;
}
#options ul ul {
  margin-left: 1.5em;
}
#options li {
  float: left;
  margin-bottom: 0.2em;
}
#options li a {
  display: block;
  padding: 0.4em 0.5em;
  background-color: #ddd;
  color: #222;
  font-weight: bold;
  text-shadow: 0 1px rgba(255,255,255,0.5);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));
  border-left: 1px solid rgba(255,255,255,0.3);
  border-right: 1px solid rgba(0,0,0,0.2);
}
#options li a:hover {
  background-color: #5bf;
}
#options li a:active {
  background-color: #39d;
  -webkit-box-shadow: inset 0 2px 8px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 0 2px 8px rgba(0,0,0,0.6);
  -o-box-shadow: inset 0 2px 8px rgba(0,0,0,0.6);
  box-shadow: inset 0 2px 8px rgba(0,0,0,0.6);
}
#options li a.selected {
  background-color: #13f;
  text-shadow: none;
  color: #fff;
}
#options li:first-child a {
  border-radius: 7px 0 0 7px;
  border-left: none;
}
#options li:last-child a {
  border-radius: 0 7px 7px 0;
}
#options .option-combo {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
#options .option-combo ul {
  margin-right: 20px;
  display: inline-block;
}
#options .option-combo h2,
#options .option-combo h4 {
  line-height: 34px;
  margin-bottom: 0;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}
.color-shape {
  width: 70px;
  height: 70px;
  margin: 5px;
  float: left;
}
.color-shape.round {
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
.color-shape.big.round {
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
}
.color-shape.red {
  background: #f00;
}
.color-shape.blue {
  background: #00f;
}
.color-shape.yellow {
  background: #ff0;
}
.color-shape a {
  display: block;
  height: 100%;
}
.color-shape a:hover {
  background: #fff;
  background: rgba(255,255,255,0.5);
}
.color-shape.wide,
.color-shape.big {
  width: 150px;
}
.color-shape.tall,
.color-shape.big {
  height: 150px;
}
.horizontal #container {
  height: 80%;
}
#copy {
  max-width: 640px;
}
.photos .photo {
  width: 320px;
  margin: 5px;
  float: left;
}
.photos .photo img {
  display: block;
  width: 100%;
}
#content {
  margin-left: 210px;
}
#content code {
  font-size: 12px;
}
#content pre {
  line-height: 1.6em;
}
.demos #content {
  height: 100%;
}
.docs #content {
  max-width: 640px;
}
.docs #content a:hover {
  border-bottom: 1px dotted;
}
.docs #content h2 {
  border-top: 1px solid #333;
  padding-top: 0.8em;
  margin-bottom: 0.8em;
}
.docs #content h2:target {
  padding: 10px;
  background: #fff;
  color: #222;
}
.docs #content h3 {
  color: #fec;
  background: rgba(191,191,191,0.05);
  padding: 2px 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.15em;
}
.docs #content h4 {
  margin-bottom: 0.5em;
  font-size: 14px;
}
.docs .tagline {
  font-size: 22px;
  font-weight: 300;
}
.docs .as-is {
  font-size: 95%;
}
.docs #commercial {
  background: #fff;
  padding: 10px;
  font-size: 14px;
  color: #1f1f1d;
}
.docs #commercial a {
  font-weight: bold;
}
#site-nav {
  width: 200px;
  position: absolute;
  left: 10px;
  top: 60px;
  padding-top: 20px;
  font-size: 12px;
}
#site-nav h1 {
  font-size: 24px;
  margin-bottom: 0.5em;
  margin-top: 0;
  font-weight: bold;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
#site-nav h1 a {
  color: #4fb;
}
#site-nav h1 a:hover {
  color: #4bf;
}
#site-nav h2 {
  font-size: 17px;
  font-weight: normal;
  margin: 0 0 0.3em;
  border-top: none;
}
#site-nav ul {
  list-style: none;
  margin: 0 0 1em;
  font-weight: bold;
}
#site-nav ul ul {
  margin-bottom: 0;
}
#site-nav ul a {
  display: block;
  border: none;
  padding: 1px 5px;
}
#site-nav ul .current a {
  background: rgba(0,0,0,0.3);
  color: #1bf;
}
#site-nav ul .current .toc a {
  font-size: 12px;
  padding-left: 1.2em;
  font-weight: normal;
}
#site-nav ul a:hover,
#site-nav ul .current a:hover {
  color: #fff;
}
footer {
  font-size: 12px;
  font-style: italic;
  border-top: 1px solid #333;
  padding: 0.8em 0;
}
pre {
  padding: 10px;
}
pre,
code {
  background: #000;
  color: #fff;
  font-family: 'Monaco', monospace, sans-serif;
}
h3#options {
  padding-bottom: 0;
}
.option-def dl dt,
.option-def dl dd {
  float: left;
  padding: 0 1.2em;
  background: #161616;
  line-height: 36px;
  height: 36px;
}
.option-def dl.header dt,
.option-def dl.header dd {
  background: #444;
}
.option-def dl .option-type {
  font-size: 13px;
  color: #aaa;
  font-style: italic;
}
.option-def dl dd {
  border-left: 1px solid #222;
}
code .s1,
code .s {
  color: #78bd55;
}
code .mi,
code .cp,
code .kc {
  color: #5298d4;
}
code .k {
  color: #e39b79;
}
code .p {
  color: #edb;
}
code .o {
  color: #f63;
}
code .nb {
  color: #aa97ac;
}
code .nt {
  color: #a0c8fc;
}
code .nf {
  color: #9ea8b8;
}
code .nc {
  color: #a78352;
}
code .m {
  color: #de8e50;
}
code .nd {
  color: #9fad7e;
}
code .kd,
code .na {
  color: #a9d866;
}
code .c,
code .c1 {
  color: #666;
  font-style: italic;
}
#sites h2 {
  display: none;
  padding: 0.4em;
  line-height: 32px;
  margin-bottom: 0.4em;
  -webkit-transition: background-color 0.8s;
  -moz-transition: background-color 0.8s;
  -o-transition: background-color 0.8s;
  transition: background-color 0.8s;
}
#sites h2 img {
  display: inline-block;
  margin-right: 0.4em;
  vertical-align: bottom;
}
#sites h2.loading {
  background: #fff;
  color: #222;
}
#sites h2.error {
  background: #f00;
  color: #222;
}
#sites ul {
  margin: 0;
}
.super-list .example {
  list-style: none;
  float: left;
  width: 230px;
  margin: 5px;
}
.super-list .example img {
  width: 100%;
}
.super-list .example a {
  background: #1f1e1d;
}
.super-list .example a:hover {
  background: #fff;
  color: #111;
}
.super-list .example b {
  font-weight: bold;
  line-height: 1.3em;
  padding: 3px;
  padding-top: 8px;
}
.super-list .link {
  float: left;
  position: relative;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 300;
  margin: 5px;
  width: 230px;
  height: 110px;
}
.super-list .link a {
  display: block;
  padding: 10px;
  padding-left: 65px;
  height: 90px;
  background: #1f1e1d;
  color: #fe5;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.super-list .link a:before {
  content: 'âž”';
  font-size: 70px;
  position: absolute;
  top: 30px;
  left: 5px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.super-list .link a:hover {
  background: #e58;
  color: #fff;
}
.super-list .link.away a:before {
  top: 25px;
  left: 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.super-list .feature .name {
  bottom: auto;
  top: 140px;
  left: 18px;
  font-size: 20px;
}
.super-list .example a,
.super-list .example b,
.super-list .example img {
  display: block;
}
.big-graph {
  background: #fff;
  height: 600px;
  margin: 20px auto;
}
.big-graph .project {
  width: 45px;
  height: 45px;
  float: left;
}
.big-graph .project .icon {
  pointer-events: none;
  width: 31px;
  height: 31px;
  background: #fff;
  margin-left: 7px;
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  -ms-transition: -ms-transform 0.25s;
  -o-transition: -o-transform 0.25s;
  transition: transform 0.25s;
}
.big-graph .project:hover {
  z-index: 5;
}
.big-graph .project:hover .icon {
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
  transform: scale(3);
}
.big-graph .project.commercial .icon {
  background: #6b6b6b;
}
.big-graph .project.urbanism .icon {
  background: #00cf00;
}
.big-graph .project.public-space .icon {
  background: #ff8d00;
}
.big-graph .project.culture .icon {
  background: #d61919;
}
.big-graph .project.body-culture .icon {
  background: #00ecff;
}
.big-graph .project.health .icon {
  background: #ff2251;
}
.big-graph .project.education .icon {
  background: #00a700;
}
.big-graph .project.housing .icon {
  background: #ff02ff;
}
.big-graph .project.hotel .icon {
  background: #0000c3;
}
.big-graph .project.media .icon {
  background: #292929;
}
.big-graph .project p {
  line-height: 14px;
  font-size: 10.5px;
  color: #000;
  margin-left: 7px;
}
#infscr-loading {
  position: fixed;
  text-align: center;
  bottom: 30px;
  left: 42%;
  z-index: 100;
  background: #fff;
  background: rgba(255,255,255,0.9);
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#top-banner a {
  display: block;
  background: #ff0;
  color: #06f;
  padding: 0.5em;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
  text-align: center;
}
#top-banner a:hover {
  background: #fff;
  color: #f06;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #331d35;
  background-color: #e7e7e7;
}
a {
  color: #41307c;
  text-decoration: none;
}
.cd-header {
  position: relative;
  height: 150px;
  background-color: #331d35;
}
.cd-header h1 {
  color: #fff;
  line-height: 150px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
}
.cd-main-content {
  position: relative;
  min-height: 100vh;
}
.cd-main-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.cd-main-content.is-fixed .cd-gallery {
  padding-top: 76px;
}
.cd-main-content.is-fixed .cd-filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}
.cd-main-content.is-fixed .cd-filter form {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed .cd-filter-trigger {
  position: fixed;
}
.cd-tab-filter-wrapper {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.08);
  z-index: 1;
}
.cd-tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tab-filter {
  position: relative;
  height: 50px;
  width: 140px;
  margin: 0 auto;
  z-index: 1;
}
.cd-tab-filter::after {
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.cd-tab-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: inset 0 -2px 0 #41307c;
}
.cd-tab-filter li {
  display: none;
}
.cd-tab-filter li:first-child {
  display: block;
}
.cd-tab-filter a {
  display: block;
  height: 50px;
  width: 140px;
  line-height: 50px;
  padding-left: 14px;
}
.cd-tab-filter a.selected {
  background: #41307c;
  color: #fff;
}
.cd-tab-filter.is-open::after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {
  box-shadow: inset 0 -2px 0 #41307c, 0 2px 10px rgba(0,0,0,0.2);
}
.cd-tab-filter.is-open ul li {
  display: block;
}
.cd-tab-filter.is-open .placeholder a {
  opacity: 0.4;
}
.cd-gallery {
  padding: 26px 5%;
  width: 100%;
}
.cd-gallery li {
  margin-bottom: 1.6em;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  display: none;
}
.cd-gallery li.gap {
  opacity: 0;
  height: 0;
  display: inline-block;
}
.cd-gallery img {
  display: block;
  width: 100%;
}
.cd-gallery .cd-fail-message {
  display: none;
  text-align: center;
}
.cd-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #fff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cd-filter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #41307c;
  z-index: 2;
}
.cd-filter form {
  padding: 70px 20px;
}
.cd-filter .cd-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  background: #37296a;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
}
.cd-filter.filter-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0,0,0,0.2);
}
.cd-filter.filter-is-visible .cd-close {
  opacity: 1;
}
.no-touch .cd-filter .cd-close:hover {
  background: #32255f;
}
.no-touch .cd-filter-block h4:hover {
  color: #41307c;
}
.cd-filter-trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url("/img/cd-icon-filter.svg") no-repeat center center;
  z-index: 3;
}
.cd-filter-trigger.filter-is-visible {
  pointer-events: none;
}
.cd-filter-block {
  margin-bottom: 1.6em;
}
.cd-filter-block h4 {
  position: relative;
  margin-bottom: 0.2em;
  padding: 10px 0 10px 20px;
  color: #9a9a9a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cd-filter-block h4::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background: url("/img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block input[type='search'] {
  border-color: transparent;
  background-color: #e6e6e6;
  font-size: 1.6rem !important;
}
.cd-filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}
.cd-filter-block .cd-select {
  position: relative;
}
.cd-filter-block .cd-select::after {
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("/img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.cd-filter-block select {
  cursor: pointer;
  font-size: 1.4rem;
}
.cd-filter-block select::-ms-expand {
  display: none;
}
.cd-filter-block .list li {
  position: relative;
  margin-bottom: 0.8em;
}
.cd-filter-block .list li:last-of-type {
  margin-bottom: 0;
}
.cd-filter-block .checkbox-label::after {
  width: 16px;
  height: 16px;
  background: url("/img/cd-icon-check.svg") no-repeat center center;
}
.cd-filter-block .radio-label::after {
  width: 6px;
  height: 6px;
  background-color: #fff;
  left: 5px;
}
.cd-filter-block input,
.cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
  font-family: "Open Sans", sans-serif;
  border-radius: 0;
  background-color: #fff;
  border: 2px solid #e6e6e6;
}
.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
  width: 100%;
  padding: 0.8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus {
  outline: none;
  background-color: #fff;
  border-color: #41307c;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
  padding-left: 24px;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
  display: none;
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  border-radius: 50%;
}
.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before {
  border-color: #41307c;
  background-color: #41307c;
}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after {
  display: block;
}
@-moz-document url-prefix() {
  .cd-filter-block .cd-select::after {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .cd-tab-filter {
    width: auto;
    cursor: auto;
  }
  .cd-tab-filter::after {
    display: none;
  }
  .cd-tab-filter ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: center;
  }
  .cd-tab-filter li {
    display: inline-block;
  }
  .cd-tab-filter li.placeholder {
    display: none !important;
  }
  .cd-tab-filter a {
    display: inline-block;
    padding: 0 1em;
    width: auto;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .cd-tab-filter a.selected {
    background: transparent;
    color: #41307c;
    box-shadow: inset 0 -2px 0 #41307c;
  }
  .cd-tab-filter.is-open ul li {
    display: inline-block;
  }
  .no-touch .cd-tab-filter a:hover {
    color: #41307c;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-tab-filter {
    width: 100%;
    float: right;
    margin: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-tab-filter.filter-is-visible {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  .cd-gallery {
    padding: 40px 3%;
  }
  .cd-gallery ul {
    text-align: justify;
  }
  .cd-gallery ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-gallery li {
    width: 48%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-gallery {
    padding: 50px 2%;
    float: right;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-gallery li {
    width: 23%;
  }
  .cd-gallery.filter-is-visible {
    width: 80%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-filter {
    width: 20%;
  }
  .cd-filter form {
    padding: 70px 10%;
  }
}
