doctype html
html
  head
    title #hashtag
    link( type='text/css', rel='stylesheet', href=('/assets/hashtags' + sd.CSS_EXT) )
  body
    h1 #hashtag  
    #headerLabel
    #demo
    #footerLabel
    ol#hashtag-items
      include list
    #scripts
      != sharify.script()
      script( src='/assets/hashtags' + sd.JS_EXT )
