doctype html
html
  head
    title= '#'+sd.hashtag + ' Realtime Updates'
    link( type='text/css', rel='stylesheet', href=('/assets/hashtags' + sd.CSS_EXT) )
  body
    h1= '#'+sd.hashtag
    #demo.viz-block
    #headerLabel.viz-block
    ol#hashtag-items
      include list
    #scripts
      != sharify.script()
      script( src='/assets/hashtags' + sd.JS_EXT )
      script( src='/socket.io/socket.io.js', type="text/javascript")
